appnope
asttokens
attrs
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fastjsonschema
fonttools
idna
ipykernel
ipython
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
missingno
nbformat
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rpds-py
scipy
seaborn
six
stack-data
tenacity
tornado
traitlets
tzdata
urllib3
wcwidth
