appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fonttools
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
missingno
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
seaborn
six
stack-data
tenacity
tornado
traitlets
tzdata
wcwidth
